In [ ]:
#INSTALAÇÃO DO PACOTE PYSPARK
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 34 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 49.5 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=a4b957e5492af2d5da83272e87bffe5c60756cf1cbf0c839cff927de9fe82faa
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [ ]:
# INSTALAÇÃO DO  GOOGLE CLOUD
!pip install gcsfs

Collecting gcsfs
  Downloading gcsfs-2022.2.0-py2.py3-none-any.whl (24 kB)
Requirement already satisfied: google-auth>=1.2 in /usr/local/lib/python3.7/dist-packages (from gcsfs) (1.35.0)
Requirement already satisfied: google-auth-oauthlib in /usr/local/lib/python3.7/dist-packages (from gcsfs) (0.4.6)
Collecting fsspec==2022.02.0
  Downloading fsspec-2022.2.0-py3-none-any.whl (134 kB)
     |████████████████████████████████| 134 kB 42.8 MB/s
Requirement already satisfied: decorator>4.1.2 in /usr/local/lib/python3.7/dist-packages (from gcsfs) (4.4.2)
Collecting aiohttp<4
  Downloading aiohttp-3.8.1-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (1.1 MB)
     |████████████████████████████████| 1.1 MB 50.2 MB/s
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from gcsfs) (2.23.0)
Requirement already satisfied: google-cloud-storage in /usr/local/lib/python3.7/dist-packages (from gcsfs) (1.18.1)
Collecting frozenlist>=1.1.1
  Downloading frozenlist-1.3.0-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (144 kB)
     |████████████████████████████████| 144 kB 56.0 MB/s
Collecting asynctest==0.13.0
  Downloading asynctest-0.13.0-py3-none-any.whl (26 kB)
Collecting multidict<7.0,>=4.5
  Downloading multidict-6.0.2-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (94 kB)
     |████████████████████████████████| 94 kB 3.5 MB/s
Requirement already satisfied: charset-normalizer<3.0,>=2.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4->gcsfs) (2.0.12)
Collecting aiosignal>=1.1.2
  Downloading aiosignal-1.2.0-py3-none-any.whl (8.2 kB)
Requirement already satisfied: typing-extensions>=3.7.4 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4->gcsfs) (3.10.0.2)
Collecting yarl<2.0,>=1.0
  Downloading yarl-1.7.2-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (271 kB)
     |████████████████████████████████| 271 kB 11.1 MB/s
Collecting async-timeout<5.0,>=4.0.0a3
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4->gcsfs) (21.4.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (4.8)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (0.2.8)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (4.2.4)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (1.15.0)
Requirement already satisfied: setuptools>=40.3.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (57.4.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth>=1.2->gcsfs) (0.4.8)
Requirement already satisfied: idna>=2.0 in /usr/local/lib/python3.7/dist-packages (from yarl<2.0,>=1.0->aiohttp<4->gcsfs) (2.10)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib->gcsfs) (1.3.1)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib->gcsfs) (3.2.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->gcsfs) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->gcsfs) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->gcsfs) (3.0.4)
Requirement already satisfied: google-cloud-core<2.0dev,>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from google-cloud-storage->gcsfs) (1.0.3)
Requirement already satisfied: google-resumable-media<0.5.0dev,>=0.3.1 in /usr/local/lib/python3.7/dist-packages (from google-cloud-storage->gcsfs) (0.4.1)
Requirement already satisfied: google-api-core<2.0.0dev,>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (1.26.3)
Requirement already satisfied: googleapis-common-protos<2.0dev,>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (1.55.0)
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (2018.9)
Requirement already satisfied: packaging>=14.3 in /usr/local/lib/python3.7/dist-packages (from google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (21.3)
Requirement already satisfied: protobuf>=3.12.0 in /usr/local/lib/python3.7/dist-packages (from google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (3.17.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=14.3->google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (3.0.7)
Installing collected packages: multidict, frozenlist, yarl, asynctest, async-timeout, aiosignal, fsspec, aiohttp, gcsfs
Successfully installed aiohttp-3.8.1 aiosignal-1.2.0 async-timeout-4.0.2 asynctest-0.13.0 frozenlist-1.3.0 fsspec-2022.2.0 gcsfs-2022.2.0 multidict-6.0.2 yarl-1.7.2

In [ ]:
# Instalação dos pacotes
from pyspark.sql import SparkSession
from pyspark import SparkConf
import pyspark.sql.functions as F
import pandas as pd
from google.cloud import storage
import os
from pyspark.sql.types import *
from pyspark.sql.window import Window

In [ ]:
# ESTABELEÇO A MONTAGEM DO DRIVE
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# VALIDO A CONEXÃO COM O 
serviceAccount = '/content/plasma-geode-339918-e47bf06e25cf.json'

os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = serviceAccount

In [ ]:
client = storage.Client()

#CRIAR UMA VARIÁVEL CHAMADA BUCKET QUE VAI RECEBER O NOME DA BUCKET DO CLOUD STORAGE
bucket = client.get_bucket('individualproject')
#USAR O MÉTODO BLOB PARA RETORNAR O NOME DO ARQUIVO (JSON, CSV, PARQUET)
bucket.blob('marketing_campaign.csv')
#CRIA UMA VARIÁVEL PATH PARA COLOCAR O CAMINHO DO CSV
path = 'gs://individualproject/Original/marketing_campaign.csv'
df_pandas = pd.read_csv(path, sep=',')

In [ ]:
# ESTABELECE A CONEXÃO ENTRE SPAYPARK COM COLLAB (4050) /GCP 
spark = (
    SparkSession.builder
                .master('local')
                .appName('cloudStorage')
                .config('spark.ui.port', '4050')
                .config("spark.jars", 'https://storage.googleapis.com/hadoop-lib/gcs/gcs-connector-hadoop2-latest.jar')
                .getOrCreate()
)

In [ ]:
# CONEXÃO OK COM SPARK
spark

In [ ]:
# CHAMEI DIRETO DA GCP O ARQUIVO .CSV SEM TRANSFORMAR EM PANDAS.
df = ( spark.read
            .format("csv")
            .option("header", "true")
            .option("inferschema", "true")
            .option("delimiter", ",")
            .load(path)
      
)
df.printSchema()

root
 |-- ID: integer (nullable = true)
 |-- Year_Birth: integer (nullable = true)
 |-- Education: string (nullable = true)
 |-- Marital_Status: string (nullable = true)
 |-- Income: integer (nullable = true)
 |-- Kidhome: integer (nullable = true)
 |-- Teenhome: integer (nullable = true)
 |-- Dt_Customer: string (nullable = true)
 |-- Recency: integer (nullable = true)
 |-- MntWines: integer (nullable = true)
 |-- MntFruits: integer (nullable = true)
 |-- MntMeatProducts: integer (nullable = true)
 |-- MntFishProducts: integer (nullable = true)
 |-- MntSweetProducts: integer (nullable = true)
 |-- MntGoldProds: integer (nullable = true)
 |-- NumDealsPurchases: integer (nullable = true)
 |-- NumWebPurchases: integer (nullable = true)
 |-- NumCatalogPurchases: integer (nullable = true)
 |-- NumStorePurchases: integer (nullable = true)
 |-- NumWebVisitsMonth: integer (nullable = true)
 |-- AcceptedCmp3: integer (nullable = true)
 |-- AcceptedCmp4: integer (nullable = true)
 |-- AcceptedCmp5: integer (nullable = true)
 |-- AcceptedCmp1: integer (nullable = true)
 |-- AcceptedCmp2: integer (nullable = true)
 |-- Complain: integer (nullable = true)
 |-- Z_CostContact: integer (nullable = true)
 |-- Z_Revenue: integer (nullable = true)
 |-- Response: integer (nullable = true)

In [ ]:
#CRIANDO SCHEMAS UTILIZANDO STRUCT TYPE
schema = StructType([
                 StructField('ID', IntegerType(), True),   
                 StructField('Year_Birth', IntegerType(), True),
                 StructField('Education', StringType(), True),
                 StructField('Marital_Status', StringType(), True),
                 StructField('Income', DoubleType(), True),
                 StructField('Kidhome', IntegerType(), True),
                 StructField('Qtd_adolescente', IntegerType(), True),
                 StructField('Teenhome', IntegerType(), True),
                 StructField('Dt_Customer', StringType(), True),
                 StructField('Recency', IntegerType(), True),
                 StructField('MntWines', IntegerType(), True),
                 StructField('MntFruits', IntegerType(), True),
                 StructField('MntMeatProducts', IntegerType(), True),
                 StructField('MntFishProducts', IntegerType(), True),
                 StructField('MntSweetProducts', IntegerType(), True),
                 StructField('MntGoldProds', IntegerType(), True),
                 StructField('NumDealsPurchases', IntegerType(), True),
                 StructField('NumWebPurchases', IntegerType(), True),
                 StructField('NumCatalogPurchases', IntegerType(), True),
                 StructField('NumStorePurchases', IntegerType(), True),
                 StructField('NumWebVisitsMonth', StringType(), True),
                 StructField('AcceptedCmp3', IntegerType(), True),
                 StructField('AcceptedCmp4', IntegerType(), True),
                 StructField('AcceptedCmp5', IntegerType(), True),
                 StructField('AcceptedCmp1', IntegerType(), True),
                 StructField('AcceptedCmp2', IntegerType(), True),
                 StructField('Complain', IntegerType(), True),
                 StructField('Z_CostContact', IntegerType(), True),
                 StructField('Z_Revenue', IntegerType(), True),
                 StructField('Response', IntegerType(), True),

]   
)

In [ ]:
#RETORNA O SCHEMA DO DATAFRAME
df.printSchema()

root
 |-- ID: integer (nullable = true)
 |-- Year_Birth: integer (nullable = true)
 |-- Education: string (nullable = true)
 |-- Marital_Status: string (nullable = true)
 |-- Income: integer (nullable = true)
 |-- Kidhome: integer (nullable = true)
 |-- Teenhome: integer (nullable = true)
 |-- Dt_Customer: string (nullable = true)
 |-- Recency: integer (nullable = true)
 |-- MntWines: integer (nullable = true)
 |-- MntFruits: integer (nullable = true)
 |-- MntMeatProducts: integer (nullable = true)
 |-- MntFishProducts: integer (nullable = true)
 |-- MntSweetProducts: integer (nullable = true)
 |-- MntGoldProds: integer (nullable = true)
 |-- NumDealsPurchases: integer (nullable = true)
 |-- NumWebPurchases: integer (nullable = true)
 |-- NumCatalogPurchases: integer (nullable = true)
 |-- NumStorePurchases: integer (nullable = true)
 |-- NumWebVisitsMonth: integer (nullable = true)
 |-- AcceptedCmp3: integer (nullable = true)
 |-- AcceptedCmp4: integer (nullable = true)
 |-- AcceptedCmp5: integer (nullable = true)
 |-- AcceptedCmp1: integer (nullable = true)
 |-- AcceptedCmp2: integer (nullable = true)
 |-- Complain: integer (nullable = true)
 |-- Z_CostContact: integer (nullable = true)
 |-- Z_Revenue: integer (nullable = true)
 |-- Response: integer (nullable = true)

In [ ]:
#EXIBINDO ALGUMAS COLUNAS
df.show(5)

+----+----------+----------+--------------+------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+
|  ID|Year_Birth| Education|Marital_Status|Income|Kidhome|Teenhome|Dt_Customer|Recency|MntWines|MntFruits|MntMeatProducts|MntFishProducts|MntSweetProducts|MntGoldProds|NumDealsPurchases|NumWebPurchases|NumCatalogPurchases|NumStorePurchases|NumWebVisitsMonth|AcceptedCmp3|AcceptedCmp4|AcceptedCmp5|AcceptedCmp1|AcceptedCmp2|Complain|Z_CostContact|Z_Revenue|Response|
+----+----------+----------+--------------+------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+
|5524|      1957|Graduation|        Single| 58138|      0|       0| 04-09-2012|     58|     635|       88|            546|            172|              88|          88|                3|              8|                 10|                4|                7|           0|           0|           0|           0|           0|       0|            3|       11|       1|
|2174|      1954|Graduation|        Single| 46344|      1|       1| 08-03-2014|     38|      11|        1|              6|              2|               1|           6|                2|              1|                  1|                2|                5|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|4141|      1965|Graduation|      Together| 71613|      0|       0| 21-08-2013|     26|     426|       49|            127|            111|              21|          42|                1|              8|                  2|               10|                4|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|6182|      1984|Graduation|      Together| 26646|      1|       0| 10-02-2014|     26|      11|        4|             20|             10|               3|           5|                2|              2|                  0|                4|                6|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|5324|      1981|       PhD|       Married| 58293|      1|       0| 19-01-2014|     94|     173|       43|            118|             46|              27|          15|                5|              5|                  3|                6|                5|           0|           0|           0|           0|           0|       0|            3|       11|       0|
+----+----------+----------+--------------+------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+
only showing top 5 rows

In [ ]:
# EXIBO O QUE FOI IMPORTADO
df.columns

['ID',
 'Year_Birth',
 'Education',
 'Marital_Status',
 'Income',
 'Kidhome',
 'Teenhome',
 'Dt_Customer',
 'Recency',
 'MntWines',
 'MntFruits',
 'MntMeatProducts',
 'MntFishProducts',
 'MntSweetProducts',
 'MntGoldProds',
 'NumDealsPurchases',
 'NumWebPurchases',
 'NumCatalogPurchases',
 'NumStorePurchases',
 'NumWebVisitsMonth',
 'AcceptedCmp3',
 'AcceptedCmp4',
 'AcceptedCmp5',
 'AcceptedCmp1',
 'AcceptedCmp2',
 'Complain',
 'Z_CostContact',
 'Z_Revenue',
 'Response']

In [ ]:
#MANTENHO UM BACKUP ANTES DA ELIMINAÇÃO
df_backup = df

In [ ]:
# VERIFIQUI QUAIS COLUNAS QUERO ELIMINAR QUE NÃO SERVIRÃO PARA A MINHA ANÁLISE
df.drop('Recency','AcceptedCmp4','AcceptedCmp5','AcceptedCmp1','AcceptedCmp2','Complain','Z_CostContact','Z_Revenue','Response').show()

+----+----------+----------+--------------+------+-------+--------+-----------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+
|  ID|Year_Birth| Education|Marital_Status|Income|Kidhome|Teenhome|Dt_Customer|MntWines|MntFruits|MntMeatProducts|MntFishProducts|MntSweetProducts|MntGoldProds|NumDealsPurchases|NumWebPurchases|NumCatalogPurchases|NumStorePurchases|NumWebVisitsMonth|AcceptedCmp3|
+----+----------+----------+--------------+------+-------+--------+-----------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+
|5524|      1957|Graduation|        Single| 58138|      0|       0| 04-09-2012|     635|       88|            546|            172|              88|          88|                3|              8|                 10|                4|                7|           0|
|2174|      1954|Graduation|        Single| 46344|      1|       1| 08-03-2014|      11|        1|              6|              2|               1|           6|                2|              1|                  1|                2|                5|           0|
|4141|      1965|Graduation|      Together| 71613|      0|       0| 21-08-2013|     426|       49|            127|            111|              21|          42|                1|              8|                  2|               10|                4|           0|
|6182|      1984|Graduation|      Together| 26646|      1|       0| 10-02-2014|      11|        4|             20|             10|               3|           5|                2|              2|                  0|                4|                6|           0|
|5324|      1981|       PhD|       Married| 58293|      1|       0| 19-01-2014|     173|       43|            118|             46|              27|          15|                5|              5|                  3|                6|                5|           0|
|7446|      1967|    Master|      Together| 62513|      0|       1| 09-09-2013|     520|       42|             98|              0|              42|          14|                2|              6|                  4|               10|                6|           0|
| 965|      1971|Graduation|      Divorced| 55635|      0|       1| 13-11-2012|     235|       65|            164|             50|              49|          27|                4|              7|                  3|                7|                6|           0|
|6177|      1985|       PhD|       Married| 33454|      1|       0| 08-05-2013|      76|       10|             56|              3|               1|          23|                2|              4|                  0|                4|                8|           0|
|4855|      1974|       PhD|      Together| 30351|      1|       0| 06-06-2013|      14|        0|             24|              3|               3|           2|                1|              3|                  0|                2|                9|           0|
|5899|      1950|       PhD|      Together|  5648|      1|       1| 13-03-2014|      28|        0|              6|              1|               1|          13|                1|              1|                  0|                0|               20|           1|
|1994|      1983|Graduation|       Married|  null|      1|       0| 15-11-2013|       5|        5|              6|              0|               2|           1|                1|              1|                  0|                2|                7|           0|
| 387|      1976|     Basic|       Married|  7500|      0|       0| 13-11-2012|       6|       16|             11|             11|               1|          16|                1|              2|                  0|                3|                8|           0|
|2125|      1959|Graduation|      Divorced| 63033|      0|       0| 15-11-2013|     194|       61|            480|            225|             112|          30|                1|              3|                  4|                8|                2|           0|
|8180|      1952|    Master|      Divorced| 59354|      1|       1| 15-11-2013|     233|        2|             53|              3|               5|          14|                3|              6|                  1|                5|                6|           0|
|2569|      1987|Graduation|       Married| 17323|      0|       0| 10-10-2012|       3|       14|             17|              6|               1|           5|                1|              1|                  0|                3|                8|           0|
|2114|      1946|       PhD|        Single| 82800|      0|       0| 24-11-2012|    1006|       22|            115|             59|              68|          45|                1|              7|                  6|               12|                3|           0|
|9736|      1980|Graduation|       Married| 41850|      1|       1| 24-12-2012|      53|        5|             19|              2|              13|           4|                3|              3|                  0|                3|                8|           0|
|4939|      1946|Graduation|      Together| 37760|      0|       0| 31-08-2012|      84|        5|             38|            150|              12|          28|                2|              4|                  1|                6|                7|           0|
|6565|      1949|    Master|       Married| 76995|      0|       1| 28-03-2013|    1012|       80|            498|              0|              16|         176|                2|             11|                  4|                9|                5|           0|
|2278|      1985|  2n Cycle|        Single| 33812|      1|       0| 03-11-2012|       4|       17|             19|             30|              24|          39|                2|              2|                  1|                3|                6|           0|
+----+----------+----------+--------------+------+-------+--------+-----------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+
only showing top 20 rows

In [ ]:
df.show()

+----+----------+----------+--------------+------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+
|  ID|Year_Birth| Education|Marital_Status|Income|Kidhome|Teenhome|Dt_Customer|Recency|MntWines|MntFruits|MntMeatProducts|MntFishProducts|MntSweetProducts|MntGoldProds|NumDealsPurchases|NumWebPurchases|NumCatalogPurchases|NumStorePurchases|NumWebVisitsMonth|AcceptedCmp3|AcceptedCmp4|AcceptedCmp5|AcceptedCmp1|AcceptedCmp2|Complain|Z_CostContact|Z_Revenue|Response|
+----+----------+----------+--------------+------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+
|5524|      1957|Graduation|        Single| 58138|      0|       0| 04-09-2012|     58|     635|       88|            546|            172|              88|          88|                3|              8|                 10|                4|                7|           0|           0|           0|           0|           0|       0|            3|       11|       1|
|2174|      1954|Graduation|        Single| 46344|      1|       1| 08-03-2014|     38|      11|        1|              6|              2|               1|           6|                2|              1|                  1|                2|                5|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|4141|      1965|Graduation|      Together| 71613|      0|       0| 21-08-2013|     26|     426|       49|            127|            111|              21|          42|                1|              8|                  2|               10|                4|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|6182|      1984|Graduation|      Together| 26646|      1|       0| 10-02-2014|     26|      11|        4|             20|             10|               3|           5|                2|              2|                  0|                4|                6|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|5324|      1981|       PhD|       Married| 58293|      1|       0| 19-01-2014|     94|     173|       43|            118|             46|              27|          15|                5|              5|                  3|                6|                5|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|7446|      1967|    Master|      Together| 62513|      0|       1| 09-09-2013|     16|     520|       42|             98|              0|              42|          14|                2|              6|                  4|               10|                6|           0|           0|           0|           0|           0|       0|            3|       11|       0|
| 965|      1971|Graduation|      Divorced| 55635|      0|       1| 13-11-2012|     34|     235|       65|            164|             50|              49|          27|                4|              7|                  3|                7|                6|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|6177|      1985|       PhD|       Married| 33454|      1|       0| 08-05-2013|     32|      76|       10|             56|              3|               1|          23|                2|              4|                  0|                4|                8|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|4855|      1974|       PhD|      Together| 30351|      1|       0| 06-06-2013|     19|      14|        0|             24|              3|               3|           2|                1|              3|                  0|                2|                9|           0|           0|           0|           0|           0|       0|            3|       11|       1|
|5899|      1950|       PhD|      Together|  5648|      1|       1| 13-03-2014|     68|      28|        0|              6|              1|               1|          13|                1|              1|                  0|                0|               20|           1|           0|           0|           0|           0|       0|            3|       11|       0|
|1994|      1983|Graduation|       Married|  null|      1|       0| 15-11-2013|     11|       5|        5|              6|              0|               2|           1|                1|              1|                  0|                2|                7|           0|           0|           0|           0|           0|       0|            3|       11|       0|
| 387|      1976|     Basic|       Married|  7500|      0|       0| 13-11-2012|     59|       6|       16|             11|             11|               1|          16|                1|              2|                  0|                3|                8|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|2125|      1959|Graduation|      Divorced| 63033|      0|       0| 15-11-2013|     82|     194|       61|            480|            225|             112|          30|                1|              3|                  4|                8|                2|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|8180|      1952|    Master|      Divorced| 59354|      1|       1| 15-11-2013|     53|     233|        2|             53|              3|               5|          14|                3|              6|                  1|                5|                6|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|2569|      1987|Graduation|       Married| 17323|      0|       0| 10-10-2012|     38|       3|       14|             17|              6|               1|           5|                1|              1|                  0|                3|                8|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|2114|      1946|       PhD|        Single| 82800|      0|       0| 24-11-2012|     23|    1006|       22|            115|             59|              68|          45|                1|              7|                  6|               12|                3|           0|           0|           1|           1|           0|       0|            3|       11|       1|
|9736|      1980|Graduation|       Married| 41850|      1|       1| 24-12-2012|     51|      53|        5|             19|              2|              13|           4|                3|              3|                  0|                3|                8|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|4939|      1946|Graduation|      Together| 37760|      0|       0| 31-08-2012|     20|      84|        5|             38|            150|              12|          28|                2|              4|                  1|                6|                7|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|6565|      1949|    Master|       Married| 76995|      0|       1| 28-03-2013|     91|    1012|       80|            498|              0|              16|         176|                2|             11|                  4|                9|                5|           0|           0|           0|           1|           0|       0|            3|       11|       0|
|2278|      1985|  2n Cycle|        Single| 33812|      1|       0| 03-11-2012|     86|       4|       17|             19|             30|              24|          39|                2|              2|                  1|                3|                6|           0|           0|           0|           0|           0|       0|            3|       11|       0|
+----+----------+----------+--------------+------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+
only showing top 20 rows

In [ ]:
# EFETIVO A MINHA ELIMINAÇÃO
df = df.drop('Recency','AcceptedCmp3','AcceptedCmp4','AcceptedCmp5','AcceptedCmp1','AcceptedCmp2','Complain','Z_CostContact','Z_Revenue','Response')

In [ ]:
#EXIBO A MINHA ELIMINAÇÃO
df.show()

+----+----------+----------+--------------+------+-------+--------+-----------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+
|  ID|Year_Birth| Education|Marital_Status|Income|Kidhome|Teenhome|Dt_Customer|MntWines|MntFruits|MntMeatProducts|MntFishProducts|MntSweetProducts|MntGoldProds|NumDealsPurchases|NumWebPurchases|NumCatalogPurchases|NumStorePurchases|NumWebVisitsMonth|
+----+----------+----------+--------------+------+-------+--------+-----------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+
|5524|      1957|Graduation|        Single| 58138|      0|       0| 04-09-2012|     635|       88|            546|            172|              88|          88|                3|              8|                 10|                4|                7|
|2174|      1954|Graduation|        Single| 46344|      1|       1| 08-03-2014|      11|        1|              6|              2|               1|           6|                2|              1|                  1|                2|                5|
|4141|      1965|Graduation|      Together| 71613|      0|       0| 21-08-2013|     426|       49|            127|            111|              21|          42|                1|              8|                  2|               10|                4|
|6182|      1984|Graduation|      Together| 26646|      1|       0| 10-02-2014|      11|        4|             20|             10|               3|           5|                2|              2|                  0|                4|                6|
|5324|      1981|       PhD|       Married| 58293|      1|       0| 19-01-2014|     173|       43|            118|             46|              27|          15|                5|              5|                  3|                6|                5|
|7446|      1967|    Master|      Together| 62513|      0|       1| 09-09-2013|     520|       42|             98|              0|              42|          14|                2|              6|                  4|               10|                6|
| 965|      1971|Graduation|      Divorced| 55635|      0|       1| 13-11-2012|     235|       65|            164|             50|              49|          27|                4|              7|                  3|                7|                6|
|6177|      1985|       PhD|       Married| 33454|      1|       0| 08-05-2013|      76|       10|             56|              3|               1|          23|                2|              4|                  0|                4|                8|
|4855|      1974|       PhD|      Together| 30351|      1|       0| 06-06-2013|      14|        0|             24|              3|               3|           2|                1|              3|                  0|                2|                9|
|5899|      1950|       PhD|      Together|  5648|      1|       1| 13-03-2014|      28|        0|              6|              1|               1|          13|                1|              1|                  0|                0|               20|
|1994|      1983|Graduation|       Married|  null|      1|       0| 15-11-2013|       5|        5|              6|              0|               2|           1|                1|              1|                  0|                2|                7|
| 387|      1976|     Basic|       Married|  7500|      0|       0| 13-11-2012|       6|       16|             11|             11|               1|          16|                1|              2|                  0|                3|                8|
|2125|      1959|Graduation|      Divorced| 63033|      0|       0| 15-11-2013|     194|       61|            480|            225|             112|          30|                1|              3|                  4|                8|                2|
|8180|      1952|    Master|      Divorced| 59354|      1|       1| 15-11-2013|     233|        2|             53|              3|               5|          14|                3|              6|                  1|                5|                6|
|2569|      1987|Graduation|       Married| 17323|      0|       0| 10-10-2012|       3|       14|             17|              6|               1|           5|                1|              1|                  0|                3|                8|
|2114|      1946|       PhD|        Single| 82800|      0|       0| 24-11-2012|    1006|       22|            115|             59|              68|          45|                1|              7|                  6|               12|                3|
|9736|      1980|Graduation|       Married| 41850|      1|       1| 24-12-2012|      53|        5|             19|              2|              13|           4|                3|              3|                  0|                3|                8|
|4939|      1946|Graduation|      Together| 37760|      0|       0| 31-08-2012|      84|        5|             38|            150|              12|          28|                2|              4|                  1|                6|                7|
|6565|      1949|    Master|       Married| 76995|      0|       1| 28-03-2013|    1012|       80|            498|              0|              16|         176|                2|             11|                  4|                9|                5|
|2278|      1985|  2n Cycle|        Single| 33812|      1|       0| 03-11-2012|       4|       17|             19|             30|              24|          39|                2|              2|                  1|                3|                6|
+----+----------+----------+--------------+------+-------+--------+-----------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+
only showing top 20 rows

Renomenando as colunas para o idioma PT  
Os dados da planilha já foram tratados em Pandas. Optei em converter apenas os nomes das colunas

In [ ]:
df = df.withColumnRenamed('ID','Id_cod')\
.withColumnRenamed('Year_Birth','Ano_nascimento')\
.withColumnRenamed('Education','Escolaridade')\
.withColumnRenamed('Marital_Status','Estado_Civil')\
.withColumnRenamed('Income','Renda')\
.withColumnRenamed('Kidhome','Qtd_criancas')\
.withColumnRenamed('Teenhome','Qtd_Jovens')\
.withColumnRenamed('Dt_Customer','Data_Cliente')\
.withColumnRenamed('MntWines','Gastos_vinhos')\
.withColumnRenamed('MntFruits','Gastos_Futas')\
.withColumnRenamed('MntMeatProducts','Gastos_Carne')\
.withColumnRenamed('MntFishProducts','Gastos_Pescados')\
.withColumnRenamed('MntSweetProducts','Gastos_Doces')\
.withColumnRenamed('MntGoldProds','Gastos_Caros')\
.withColumnRenamed('NumDealsPurchases','Ofertas_compras')\
.withColumnRenamed('NumWebPurchases','Compras_Internet')\
.withColumnRenamed('NumCatalogPurchases','Compra_Catálogo')\
.withColumnRenamed('NumStorePurchases','Compra_Loja')\
.withColumnRenamed('NumWebVisitsMonth','Visitas_Site')\

In [ ]:
df.show()

+------+--------------+------------+------------+-----+------------+----------+------------+-------------+------------+------------+---------------+------------+------------+---------------+----------------+---------------+-----------+------------+
|Id_cod|Ano_nascimento|Escolaridade|Estado_Civil|Renda|Qtd_criancas|Qtd_Jovens|Data_Cliente|Gastos_vinhos|Gastos_Futas|Gastos_Carne|Gastos_Pescados|Gastos_Doces|Gastos_Caros|Ofertas_compras|Compras_Internet|Compra_Catálogo|Compra_Loja|Visitas_Site|
+------+--------------+------------+------------+-----+------------+----------+------------+-------------+------------+------------+---------------+------------+------------+---------------+----------------+---------------+-----------+------------+
|  5524|          1957|  Graduation|      Single|58138|           0|         0|  04-09-2012|          635|          88|         546|            172|          88|          88|              3|               8|             10|          4|           7|
|  2174|          1954|  Graduation|      Single|46344|           1|         1|  08-03-2014|           11|           1|           6|              2|           1|           6|              2|               1|              1|          2|           5|
|  4141|          1965|  Graduation|    Together|71613|           0|         0|  21-08-2013|          426|          49|         127|            111|          21|          42|              1|               8|              2|         10|           4|
|  6182|          1984|  Graduation|    Together|26646|           1|         0|  10-02-2014|           11|           4|          20|             10|           3|           5|              2|               2|              0|          4|           6|
|  5324|          1981|         PhD|     Married|58293|           1|         0|  19-01-2014|          173|          43|         118|             46|          27|          15|              5|               5|              3|          6|           5|
|  7446|          1967|      Master|    Together|62513|           0|         1|  09-09-2013|          520|          42|          98|              0|          42|          14|              2|               6|              4|         10|           6|
|   965|          1971|  Graduation|    Divorced|55635|           0|         1|  13-11-2012|          235|          65|         164|             50|          49|          27|              4|               7|              3|          7|           6|
|  6177|          1985|         PhD|     Married|33454|           1|         0|  08-05-2013|           76|          10|          56|              3|           1|          23|              2|               4|              0|          4|           8|
|  4855|          1974|         PhD|    Together|30351|           1|         0|  06-06-2013|           14|           0|          24|              3|           3|           2|              1|               3|              0|          2|           9|
|  5899|          1950|         PhD|    Together| 5648|           1|         1|  13-03-2014|           28|           0|           6|              1|           1|          13|              1|               1|              0|          0|          20|
|  1994|          1983|  Graduation|     Married| null|           1|         0|  15-11-2013|            5|           5|           6|              0|           2|           1|              1|               1|              0|          2|           7|
|   387|          1976|       Basic|     Married| 7500|           0|         0|  13-11-2012|            6|          16|          11|             11|           1|          16|              1|               2|              0|          3|           8|
|  2125|          1959|  Graduation|    Divorced|63033|           0|         0|  15-11-2013|          194|          61|         480|            225|         112|          30|              1|               3|              4|          8|           2|
|  8180|          1952|      Master|    Divorced|59354|           1|         1|  15-11-2013|          233|           2|          53|              3|           5|          14|              3|               6|              1|          5|           6|
|  2569|          1987|  Graduation|     Married|17323|           0|         0|  10-10-2012|            3|          14|          17|              6|           1|           5|              1|               1|              0|          3|           8|
|  2114|          1946|         PhD|      Single|82800|           0|         0|  24-11-2012|         1006|          22|         115|             59|          68|          45|              1|               7|              6|         12|           3|
|  9736|          1980|  Graduation|     Married|41850|           1|         1|  24-12-2012|           53|           5|          19|              2|          13|           4|              3|               3|              0|          3|           8|
|  4939|          1946|  Graduation|    Together|37760|           0|         0|  31-08-2012|           84|           5|          38|            150|          12|          28|              2|               4|              1|          6|           7|
|  6565|          1949|      Master|     Married|76995|           0|         1|  28-03-2013|         1012|          80|         498|              0|          16|         176|              2|              11|              4|          9|           5|
|  2278|          1985|    2n Cycle|      Single|33812|           1|         0|  03-11-2012|            4|          17|          19|             30|          24|          39|              2|               2|              1|          3|           6|
+------+--------------+------------+------------+-----+------------+----------+------------+-------------+------------+------------+---------------+------------+------------+---------------+----------------+---------------+-----------+------------+
only showing top 20 rows

Renomear linhas

In [ ]:
# Renomenando as linhas para o idioma PT
df=df.replace(['Graduation','PhD','Master','2n Cycle','Basic'],['Graduação','PhD','Mestrado','Segundo Ciclo','Básico'])
df=df.replace(['Single','Married','Divorced','Together'],['Solteiro','Casado','Divorciado','Uni_Estavel'])

In [ ]:
df.show()

+------+--------------+-------------+------------+-----+------------+----------+------------+-------------+------------+------------+---------------+------------+------------+---------------+----------------+---------------+-----------+------------+
|Id_cod|Ano_nascimento| Escolaridade|Estado_Civil|Renda|Qtd_criancas|Qtd_Jovens|Data_Cliente|Gastos_vinhos|Gastos_Futas|Gastos_Carne|Gastos_Pescados|Gastos_Doces|Gastos_Caros|Ofertas_compras|Compras_Internet|Compra_Catálogo|Compra_Loja|Visitas_Site|
+------+--------------+-------------+------------+-----+------------+----------+------------+-------------+------------+------------+---------------+------------+------------+---------------+----------------+---------------+-----------+------------+
|  5524|          1957|    Graduação|    Solteiro|58138|           0|         0|  04-09-2012|          635|          88|         546|            172|          88|          88|              3|               8|             10|          4|           7|
|  2174|          1954|    Graduação|    Solteiro|46344|           1|         1|  08-03-2014|           11|           1|           6|              2|           1|           6|              2|               1|              1|          2|           5|
|  4141|          1965|    Graduação| Uni_Estavel|71613|           0|         0|  21-08-2013|          426|          49|         127|            111|          21|          42|              1|               8|              2|         10|           4|
|  6182|          1984|    Graduação| Uni_Estavel|26646|           1|         0|  10-02-2014|           11|           4|          20|             10|           3|           5|              2|               2|              0|          4|           6|
|  5324|          1981|          PhD|      Casado|58293|           1|         0|  19-01-2014|          173|          43|         118|             46|          27|          15|              5|               5|              3|          6|           5|
|  7446|          1967|     Mestrado| Uni_Estavel|62513|           0|         1|  09-09-2013|          520|          42|          98|              0|          42|          14|              2|               6|              4|         10|           6|
|   965|          1971|    Graduação|  Divorciado|55635|           0|         1|  13-11-2012|          235|          65|         164|             50|          49|          27|              4|               7|              3|          7|           6|
|  6177|          1985|          PhD|      Casado|33454|           1|         0|  08-05-2013|           76|          10|          56|              3|           1|          23|              2|               4|              0|          4|           8|
|  4855|          1974|          PhD| Uni_Estavel|30351|           1|         0|  06-06-2013|           14|           0|          24|              3|           3|           2|              1|               3|              0|          2|           9|
|  5899|          1950|          PhD| Uni_Estavel| 5648|           1|         1|  13-03-2014|           28|           0|           6|              1|           1|          13|              1|               1|              0|          0|          20|
|  1994|          1983|    Graduação|      Casado| null|           1|         0|  15-11-2013|            5|           5|           6|              0|           2|           1|              1|               1|              0|          2|           7|
|   387|          1976|       Básico|      Casado| 7500|           0|         0|  13-11-2012|            6|          16|          11|             11|           1|          16|              1|               2|              0|          3|           8|
|  2125|          1959|    Graduação|  Divorciado|63033|           0|         0|  15-11-2013|          194|          61|         480|            225|         112|          30|              1|               3|              4|          8|           2|
|  8180|          1952|     Mestrado|  Divorciado|59354|           1|         1|  15-11-2013|          233|           2|          53|              3|           5|          14|              3|               6|              1|          5|           6|
|  2569|          1987|    Graduação|      Casado|17323|           0|         0|  10-10-2012|            3|          14|          17|              6|           1|           5|              1|               1|              0|          3|           8|
|  2114|          1946|          PhD|    Solteiro|82800|           0|         0|  24-11-2012|         1006|          22|         115|             59|          68|          45|              1|               7|              6|         12|           3|
|  9736|          1980|    Graduação|      Casado|41850|           1|         1|  24-12-2012|           53|           5|          19|              2|          13|           4|              3|               3|              0|          3|           8|
|  4939|          1946|    Graduação| Uni_Estavel|37760|           0|         0|  31-08-2012|           84|           5|          38|            150|          12|          28|              2|               4|              1|          6|           7|
|  6565|          1949|     Mestrado|      Casado|76995|           0|         1|  28-03-2013|         1012|          80|         498|              0|          16|         176|              2|              11|              4|          9|           5|
|  2278|          1985|Segundo Ciclo|    Solteiro|33812|           1|         0|  03-11-2012|            4|          17|          19|             30|          24|          39|              2|               2|              1|          3|           6|
+------+--------------+-------------+------------+-----+------------+----------+------------+-------------+------------+------------+---------------+------------+------------+---------------+----------------+---------------+-----------+------------+
only showing top 20 rows

UTILIZAÇÃO DE FILTROS

In [ ]:
# FILTRANDO  SOMENTE POR UM TIPO DE ESCOLARIDADE (FILTER)
df.filter(df.Escolaridade == "Graduação").show(10)

+------+--------------+------------+------------+-----+------------+----------+------------+-------------+------------+------------+---------------+------------+------------+---------------+----------------+---------------+-----------+------------+
|Id_cod|Ano_nascimento|Escolaridade|Estado_Civil|Renda|Qtd_criancas|Qtd_Jovens|Data_Cliente|Gastos_vinhos|Gastos_Futas|Gastos_Carne|Gastos_Pescados|Gastos_Doces|Gastos_Caros|Ofertas_compras|Compras_Internet|Compra_Catálogo|Compra_Loja|Visitas_Site|
+------+--------------+------------+------------+-----+------------+----------+------------+-------------+------------+------------+---------------+------------+------------+---------------+----------------+---------------+-----------+------------+
|  5524|          1957|   Graduação|    Solteiro|58138|           0|         0|  04-09-2012|          635|          88|         546|            172|          88|          88|              3|               8|             10|          4|           7|
|  2174|          1954|   Graduação|    Solteiro|46344|           1|         1|  08-03-2014|           11|           1|           6|              2|           1|           6|              2|               1|              1|          2|           5|
|  4141|          1965|   Graduação| Uni_Estavel|71613|           0|         0|  21-08-2013|          426|          49|         127|            111|          21|          42|              1|               8|              2|         10|           4|
|  6182|          1984|   Graduação| Uni_Estavel|26646|           1|         0|  10-02-2014|           11|           4|          20|             10|           3|           5|              2|               2|              0|          4|           6|
|   965|          1971|   Graduação|  Divorciado|55635|           0|         1|  13-11-2012|          235|          65|         164|             50|          49|          27|              4|               7|              3|          7|           6|
|  1994|          1983|   Graduação|      Casado| null|           1|         0|  15-11-2013|            5|           5|           6|              0|           2|           1|              1|               1|              0|          2|           7|
|  2125|          1959|   Graduação|  Divorciado|63033|           0|         0|  15-11-2013|          194|          61|         480|            225|         112|          30|              1|               3|              4|          8|           2|
|  2569|          1987|   Graduação|      Casado|17323|           0|         0|  10-10-2012|            3|          14|          17|              6|           1|           5|              1|               1|              0|          3|           8|
|  9736|          1980|   Graduação|      Casado|41850|           1|         1|  24-12-2012|           53|           5|          19|              2|          13|           4|              3|               3|              0|          3|           8|
|  4939|          1946|   Graduação| Uni_Estavel|37760|           0|         0|  31-08-2012|           84|           5|          38|            150|          12|          28|              2|               4|              1|          6|           7|
+------+--------------+------------+------------+-----+------------+----------+------------+-------------+------------+------------+---------------+------------+------------+---------------+----------------+---------------+-----------+------------+
only showing top 10 rows

In [ ]:
# FILTRANDO  SOMENTE OS QUE TIVERAM GASTOS DE VINHOS > 99 DOS 50 PRIMEIROS
df.filter(df['Gastos_vinhos']>=99).show()

+------+--------------+------------+------------+-----+------------+----------+------------+-------------+------------+------------+---------------+------------+------------+---------------+----------------+---------------+-----------+------------+
|Id_cod|Ano_nascimento|Escolaridade|Estado_Civil|Renda|Qtd_criancas|Qtd_Jovens|Data_Cliente|Gastos_vinhos|Gastos_Futas|Gastos_Carne|Gastos_Pescados|Gastos_Doces|Gastos_Caros|Ofertas_compras|Compras_Internet|Compra_Catálogo|Compra_Loja|Visitas_Site|
+------+--------------+------------+------------+-----+------------+----------+------------+-------------+------------+------------+---------------+------------+------------+---------------+----------------+---------------+-----------+------------+
|  5524|          1957|   Graduação|    Solteiro|58138|           0|         0|  04-09-2012|          635|          88|         546|            172|          88|          88|              3|               8|             10|          4|           7|
|  4141|          1965|   Graduação| Uni_Estavel|71613|           0|         0|  21-08-2013|          426|          49|         127|            111|          21|          42|              1|               8|              2|         10|           4|
|  5324|          1981|         PhD|      Casado|58293|           1|         0|  19-01-2014|          173|          43|         118|             46|          27|          15|              5|               5|              3|          6|           5|
|  7446|          1967|    Mestrado| Uni_Estavel|62513|           0|         1|  09-09-2013|          520|          42|          98|              0|          42|          14|              2|               6|              4|         10|           6|
|   965|          1971|   Graduação|  Divorciado|55635|           0|         1|  13-11-2012|          235|          65|         164|             50|          49|          27|              4|               7|              3|          7|           6|
|  2125|          1959|   Graduação|  Divorciado|63033|           0|         0|  15-11-2013|          194|          61|         480|            225|         112|          30|              1|               3|              4|          8|           2|
|  8180|          1952|    Mestrado|  Divorciado|59354|           1|         1|  15-11-2013|          233|           2|          53|              3|           5|          14|              3|               6|              1|          5|           6|
|  2114|          1946|         PhD|    Solteiro|82800|           0|         0|  24-11-2012|         1006|          22|         115|             59|          68|          45|              1|               7|              6|         12|           3|
|  6565|          1949|    Mestrado|      Casado|76995|           0|         1|  28-03-2013|         1012|          80|         498|              0|          16|         176|              2|              11|              4|          9|           5|
|  1993|          1949|         PhD|      Casado|58607|           0|         1|  23-12-2012|          867|           0|          86|              0|           0|          19|              3|               2|              3|          9|           8|
|  4047|          1954|         PhD|      Casado|65324|           0|         1|  11-01-2014|          384|           0|         102|             21|          32|           5|              3|               6|              2|          9|           4|
|  1409|          1951|   Graduação| Uni_Estavel|40689|           0|         1|  18-03-2013|          270|           3|          27|             39|           6|          99|              7|               7|              1|          5|           8|
|  2404|          1976|   Graduação|      Casado|53359|           1|         1|  27-05-2013|          173|           4|          30|              3|           6|          41|              4|               5|              1|          4|           7|
|  1966|          1965|         PhD|      Casado|84618|           0|         0|  22-11-2013|          684|         100|         801|             21|          66|           0|              1|               6|              9|         10|           2|
|  3033|          1963|    Mestrado| Uni_Estavel|38620|           0|         0|  11-05-2013|          112|          17|          44|             34|          22|          89|              1|               2|              5|          3|           3|
|  5710|          1970|   Graduação| Uni_Estavel|40548|           0|         1|  10-10-2012|          110|           0|           5|              2|           0|           3|              2|               2|              1|          4|           5|
|  8755|          1946|    Mestrado|      Casado|68657|           0|         0|  20-02-2013|          482|          34|         471|            119|          68|          22|              1|               3|              5|          9|           7|
|  4339|          1970|         PhD|      Casado|67353|           0|         1|  31-12-2013|          702|          17|         151|              0|           8|          35|              5|               5|              6|         12|           2|
|  2968|          1943|         PhD|  Divorciado|48948|           0|         0|  01-02-2013|          437|           8|         206|            160|          49|          42|              2|               7|             10|          5|           6|
|  8601|          1980|   Graduação|      Casado|80011|           0|         1|  29-04-2013|          421|          76|         536|             82|         178|         102|              2|               8|              6|          5|           4|
+------+--------------+------------+------------+-----+------------+----------+------------+-------------+------------+------------+---------------+------------+------------+---------------+----------------+---------------+-----------+------------+
only showing top 20 rows

In [ ]:
# OUTRA FORMA DE FAZER UM FILTRO USANDO UM TIPO DE ESCOLARIDADE (WHERE)
df.where(F.col('Escolaridade') == 'Mestrado').show()

+------+--------------+------------+------------+-----+------------+----------+------------+-------------+------------+------------+---------------+------------+------------+---------------+----------------+---------------+-----------+------------+
|Id_cod|Ano_nascimento|Escolaridade|Estado_Civil|Renda|Qtd_criancas|Qtd_Jovens|Data_Cliente|Gastos_vinhos|Gastos_Futas|Gastos_Carne|Gastos_Pescados|Gastos_Doces|Gastos_Caros|Ofertas_compras|Compras_Internet|Compra_Catálogo|Compra_Loja|Visitas_Site|
+------+--------------+------------+------------+-----+------------+----------+------------+-------------+------------+------------+---------------+------------+------------+---------------+----------------+---------------+-----------+------------+
|  7446|          1967|    Mestrado| Uni_Estavel|62513|           0|         1|  09-09-2013|          520|          42|          98|              0|          42|          14|              2|               6|              4|         10|           6|
|  8180|          1952|    Mestrado|  Divorciado|59354|           1|         1|  15-11-2013|          233|           2|          53|              3|           5|          14|              3|               6|              1|          5|           6|
|  6565|          1949|    Mestrado|      Casado|76995|           0|         1|  28-03-2013|         1012|          80|         498|              0|          16|         176|              2|              11|              4|          9|           5|
|  6864|          1989|    Mestrado|  Divorciado|10979|           0|         0|  22-05-2014|            8|           4|          10|              2|           2|           4|              2|               3|              0|          3|           5|
|  3033|          1963|    Mestrado| Uni_Estavel|38620|           0|         0|  11-05-2013|          112|          17|          44|             34|          22|          89|              1|               2|              5|          3|           3|
|  8755|          1946|    Mestrado|      Casado|68657|           0|         0|  20-02-2013|          482|          34|         471|            119|          68|          22|              1|               3|              5|          9|           7|
| 10738|          1951|    Mestrado|    Solteiro|49389|           1|         1|  29-08-2013|           40|           0|          19|              2|           1|           3|              1|               2|              0|          3|           7|
|   503|          1985|    Mestrado|      Casado|20559|           1|         0|  12-03-2013|           13|           1|          29|              3|           0|           7|              2|               2|              0|          3|           8|
|  2139|          1975|    Mestrado|      Casado| 7500|           1|         0|  02-10-2013|            3|           1|          10|              3|           2|          12|              3|               2|              0|          3|           5|
|  4114|          1964|    Mestrado|      Casado|79143|           0|         0|  11-08-2012|          650|          37|         780|             27|         167|          32|              1|               6|              9|         13|           3|
|  6260|          1955|    Mestrado| Uni_Estavel|82384|           0|         0|  19-11-2012|          984|          51|         432|            180|         120|         190|              1|               3|             10|         13|           1|
|  6853|          1982|    Mestrado|    Solteiro|75777|           0|         0|  04-07-2013|          712|          26|         538|             69|          13|          80|              1|               3|              6|         11|           1|
|  1402|          1954|    Mestrado|      Casado|66991|           0|         0|  11-09-2012|          496|          36|         460|            189|          60|          12|              3|               4|              8|          6|           3|
|  1859|          1972|    Mestrado|      Casado|75251|           0|         0|  27-08-2012|          721|         111|         925|             97|          18|          18|              1|               7|              6|          5|           5|
|  4119|          1963|    Mestrado| Uni_Estavel|38620|           0|         0|  11-05-2013|          112|          17|          44|             34|          22|          89|              1|               2|              5|          3|           3|
|   273|          1970|    Mestrado|      Casado|36138|           1|         1|  16-07-2013|          130|           0|          16|              0|           0|           5|              5|               3|              1|          4|           7|
|  5798|          1973|    Mestrado| Uni_Estavel| null|           0|         0|  23-11-2013|          445|          37|         359|             98|          28|          18|              1|               2|              4|          8|           1|
| 11178|          1972|    Mestrado|    Solteiro|42394|           1|         0|  23-03-2014|           15|           2|          10|              0|           1|           4|              1|               1|              0|          3|           7|
| 10991|          1960|    Mestrado|      Casado|89058|           0|         0|  07-12-2012|          454|         194|         106|             31|          22|          43|              1|               5|              4|          4|           2|
|  3267|          1963|    Mestrado| Uni_Estavel|57288|           0|         1|  25-06-2014|          527|           0|          21|              0|           0|          60|              3|               8|              1|          8|           6|
+------+--------------+------------+------------+-----+------------+----------+------------+-------------+------------+------------+---------------+------------+------------+---------------+----------------+---------------+-----------+------------+
only showing top 20 rows

ORDENAÇÃO DE COLUNA

In [ ]:
# PELO GRAU DE ESCOLARIDADE EXIBE QUEM TEVE MAIS CONSUMO DE CARNES E VINHOS
df.select(F.col("Id_cod"),F.col("Escolaridade"), F.col("Gastos_vinhos"),F.col("Gastos_Carne")).orderBy(F.col("Gastos_Pescados").asc(), F.col("Gastos_vinhos")).show(5)

+------+-------------+-------------+------------+
|Id_cod| Escolaridade|Gastos_vinhos|Gastos_Carne|
+------+-------------+-------------+------------+
| 10401|Segundo Ciclo|            1|           5|
|  3068|    Graduação|            1|           9|
|  8234|       Básico|            1|           7|
|  6961|    Graduação|            1|           5|
| 11003|Segundo Ciclo|            2|           7|
+------+-------------+-------------+------------+
only showing top 5 rows

GROUPBY

In [ ]:
# AGRUPO POR TIPO DE ESCOLARIDADE E GASTO COM VINHOS 
df.groupBy("Escolaridade").sum('Gastos_vinhos').show()

+-------------+------------------+
| Escolaridade|sum(Gastos_vinhos)|
+-------------+------------------+
|Segundo Ciclo|             40231|
|          PhD|            196585|
|     Mestrado|            123238|
|       Básico|               391|
|    Graduação|            320371|
+-------------+------------------+

In [ ]:
# QUAL O GRAU DE ESCOLARIDADE QUE TEM CRIANÇAS
df.groupBy("Escolaridade").sum('Qtd_criancas','Qtd_Jovens').show()

+-------------+-----------------+---------------+
| Escolaridade|sum(Qtd_criancas)|sum(Qtd_Jovens)|
+-------------+-----------------+---------------+
|Segundo Ciclo|               97|             83|
|          PhD|              195|            291|
|     Mestrado|              168|            198|
|       Básico|               34|              5|
|    Graduação|              501|            557|
+-------------+-----------------+---------------+

In [ ]:
# QUAL O ESTADO CIVIL  QUE TEM CRIANÇAS
df.groupBy("Estado_Civil").sum('Qtd_criancas','Qtd_Jovens').show()

+------------+-----------------+---------------+
|Estado_Civil|sum(Qtd_criancas)|sum(Qtd_Jovens)|
+------------+-----------------+---------------+
|        YOLO|                0|              2|
| Uni_Estavel|              261|            307|
|  Divorciado|               96|            137|
|      Absurd|                0|              0|
|    Solteiro|              223|            195|
|       Widow|               18|             49|
|      Casado|              394|            442|
|       Alone|                3|              2|
+------------+-----------------+---------------+

In [ ]:
# QUAl O NIVEL DE ESCOLARIDADE NA PLANILHA ??
df.groupBy("Escolaridade").count().show()

+-------------+-----+
| Escolaridade|count|
+-------------+-----+
|Segundo Ciclo|  203|
|          PhD|  486|
|     Mestrado|  370|
|       Básico|   54|
|    Graduação| 1127|
+-------------+-----+

In [ ]:
# QUAL ESCOLARIDADE O CONSUMO DE CARNE FOI MAIOR ?? 
df.groupBy("Escolaridade").max('Gastos_Carne').show()

+-------------+-----------------+
| Escolaridade|max(Gastos_Carne)|
+-------------+-----------------+
|Segundo Ciclo|             1607|
|          PhD|             1622|
|     Mestrado|              925|
|       Básico|              122|
|    Graduação|             1725|
+-------------+-----------------+

WINDOW FUNCTION

from pyspark.sql.window import Window (INSTALADO)

Agregação
- Dados da pesquisa anterior

 - QUAL ESCOLARIDADE O CONSUMO DE CARNE FOI MAIOR ??
 - QUAl O NIVEL DE ESCOLARIDADE NA PLANILHA ??

In [ ]:
# AGREGACAO DE COLUNAS 
schema = ['Escolaridade','count','Gastos_Carne','Qtd_criancas','Qtd_Jovens']
dados = [('2n Cycle', 203, 1607,97,83,),('PhD',486,1622,195,291),('Master',370,925,168,198),('Graduation', 1127, 1725,501,557),(' Basic',54, 122,34,5)]
df2 = spark.createDataFrame(data=dados, schema=schema)

In [ ]:
df2.show()

+------------+-----+------------+------------+----------+
|Escolaridade|count|Gastos_Carne|Qtd_criancas|Qtd_Jovens|
+------------+-----+------------+------------+----------+
|    2n Cycle|  203|        1607|          97|        83|
|         PhD|  486|        1622|         195|       291|
|      Master|  370|         925|         168|       198|
|  Graduation| 1127|        1725|         501|       557|
|       Basic|   54|         122|          34|         5|
+------------+-----+------------+------------+----------+

In [ ]:
#Particionar minha janela a partir de uma coluna
w0 = Window.partitionBy(F.col('Estado_Civil')).orderBy('Renda')

In [ ]:
#row_number
df.withColumn('row_number', F.row_number().over(w0)).show(5)

+------+--------------+------------+------------+-----+------------+----------+------------+-------------+------------+------------+---------------+------------+------------+---------------+----------------+---------------+-----------+------------+----------+
|Id_cod|Ano_nascimento|Escolaridade|Estado_Civil|Renda|Qtd_criancas|Qtd_Jovens|Data_Cliente|Gastos_vinhos|Gastos_Futas|Gastos_Carne|Gastos_Pescados|Gastos_Doces|Gastos_Caros|Ofertas_compras|Compras_Internet|Compra_Catálogo|Compra_Loja|Visitas_Site|row_number|
+------+--------------+------------+------------+-----+------------+----------+------------+-------------+------------+------------+---------------+------------+------------+---------------+----------------+---------------+-----------+------------+----------+
|  4369|          1957|    Mestrado|      Absurd|65487|           0|         0|  10-01-2014|          240|          67|         500|            199|           0|         163|              3|               3|              5|          6|           2|         1|
|  7734|          1993|   Graduação|      Absurd|79244|           0|         0|  19-12-2012|          471|         102|         125|            212|          61|         245|              1|               4|             10|          7|           1|         2|
|    92|          1988|   Graduação|       Alone|34176|           1|         0|  12-05-2014|            5|           7|          24|             19|          14|          20|              4|               3|              0|          4|           6|         1|
|  7660|          1973|         PhD|       Alone|35860|           1|         1|  19-05-2014|           15|           0|           8|              4|           2|          20|              2|               1|              1|          2|           5|         2|
|   433|          1958|    Mestrado|       Alone|61331|           1|         1|  10-03-2013|          534|           5|          47|              0|           5|          41|              5|              11|              1|          6|           8|         3|
+------+--------------+------------+------------+-----+------------+----------+------------+-------------+------------+------------+---------------+------------+------------+---------------+----------------+---------------+-----------+------------+----------+
only showing top 5 rows

CRIANDO UMA NOVA COLUNA COM BASE EM DUAS CONDIÇÕES

In [ ]:
#Adicionando colunas df_spaypark
df.withColumn('Estado_Civil_novo',df ['Estado_Civil']+1).show ()

+------+--------------+-------------+------------+-----+------------+----------+------------+-------------+------------+------------+---------------+------------+------------+---------------+----------------+---------------+-----------+------------+-----------------+
|Id_cod|Ano_nascimento| Escolaridade|Estado_Civil|Renda|Qtd_criancas|Qtd_Jovens|Data_Cliente|Gastos_vinhos|Gastos_Futas|Gastos_Carne|Gastos_Pescados|Gastos_Doces|Gastos_Caros|Ofertas_compras|Compras_Internet|Compra_Catálogo|Compra_Loja|Visitas_Site|Estado_Civil_novo|
+------+--------------+-------------+------------+-----+------------+----------+------------+-------------+------------+------------+---------------+------------+------------+---------------+----------------+---------------+-----------+------------+-----------------+
|  5524|          1957|    Graduação|    Solteiro|58138|           0|         0|  04-09-2012|          635|          88|         546|            172|          88|          88|              3|               8|             10|          4|           7|             null|
|  2174|          1954|    Graduação|    Solteiro|46344|           1|         1|  08-03-2014|           11|           1|           6|              2|           1|           6|              2|               1|              1|          2|           5|             null|
|  4141|          1965|    Graduação| Uni_Estavel|71613|           0|         0|  21-08-2013|          426|          49|         127|            111|          21|          42|              1|               8|              2|         10|           4|             null|
|  6182|          1984|    Graduação| Uni_Estavel|26646|           1|         0|  10-02-2014|           11|           4|          20|             10|           3|           5|              2|               2|              0|          4|           6|             null|
|  5324|          1981|          PhD|      Casado|58293|           1|         0|  19-01-2014|          173|          43|         118|             46|          27|          15|              5|               5|              3|          6|           5|             null|
|  7446|          1967|     Mestrado| Uni_Estavel|62513|           0|         1|  09-09-2013|          520|          42|          98|              0|          42|          14|              2|               6|              4|         10|           6|             null|
|   965|          1971|    Graduação|  Divorciado|55635|           0|         1|  13-11-2012|          235|          65|         164|             50|          49|          27|              4|               7|              3|          7|           6|             null|
|  6177|          1985|          PhD|      Casado|33454|           1|         0|  08-05-2013|           76|          10|          56|              3|           1|          23|              2|               4|              0|          4|           8|             null|
|  4855|          1974|          PhD| Uni_Estavel|30351|           1|         0|  06-06-2013|           14|           0|          24|              3|           3|           2|              1|               3|              0|          2|           9|             null|
|  5899|          1950|          PhD| Uni_Estavel| 5648|           1|         1|  13-03-2014|           28|           0|           6|              1|           1|          13|              1|               1|              0|          0|          20|             null|
|  1994|          1983|    Graduação|      Casado| null|           1|         0|  15-11-2013|            5|           5|           6|              0|           2|           1|              1|               1|              0|          2|           7|             null|
|   387|          1976|       Básico|      Casado| 7500|           0|         0|  13-11-2012|            6|          16|          11|             11|           1|          16|              1|               2|              0|          3|           8|             null|
|  2125|          1959|    Graduação|  Divorciado|63033|           0|         0|  15-11-2013|          194|          61|         480|            225|         112|          30|              1|               3|              4|          8|           2|             null|
|  8180|          1952|     Mestrado|  Divorciado|59354|           1|         1|  15-11-2013|          233|           2|          53|              3|           5|          14|              3|               6|              1|          5|           6|             null|
|  2569|          1987|    Graduação|      Casado|17323|           0|         0|  10-10-2012|            3|          14|          17|              6|           1|           5|              1|               1|              0|          3|           8|             null|
|  2114|          1946|          PhD|    Solteiro|82800|           0|         0|  24-11-2012|         1006|          22|         115|             59|          68|          45|              1|               7|              6|         12|           3|             null|
|  9736|          1980|    Graduação|      Casado|41850|           1|         1|  24-12-2012|           53|           5|          19|              2|          13|           4|              3|               3|              0|          3|           8|             null|
|  4939|          1946|    Graduação| Uni_Estavel|37760|           0|         0|  31-08-2012|           84|           5|          38|            150|          12|          28|              2|               4|              1|          6|           7|             null|
|  6565|          1949|     Mestrado|      Casado|76995|           0|         1|  28-03-2013|         1012|          80|         498|              0|          16|         176|              2|              11|              4|          9|           5|             null|
|  2278|          1985|Segundo Ciclo|    Solteiro|33812|           1|         0|  03-11-2012|            4|          17|          19|             30|          24|          39|              2|               2|              1|          3|           6|             null|
+------+--------------+-------------+------------+-----+------------+----------+------------+-------------+------------+------------+---------------+------------+------------+---------------+----------------+---------------+-----------+------------+-----------------+
only showing top 20 rows

In [ ]:
# APÓS O TÉRMINO DO TRABALHO , DEVEMOS SUBIR ESSE ARQUIVO .CSV PARA A GCP ( GOOGLE CLOUD PLATAFORM)
(df.write.format('csv')
.option('header', 'true')
.option('inferschema', 'true')
.option('delimiter', ';')
.save('gs://individualproject/Final/marketing_campaign_final.csv')
)